// $primary:
// $primaryLight: 
// $primaryDark:

// $secondary:
// $secondaryLight:
// $secondaryDark:

// $neutralDarker:
// $neutralDark:
// $neutral:
// $neutralLight:
// $neutralLighter: 
// $neutralLightest: 

$primary: #070F54;
$primary-light: #597AAF;
$secondary: #A3B4CF;
$secondary-light: #ECEDEF;
$secondary-lightest: #FFFFFF;
$neutral: #F5F5F5;
$neutral-dark: #CCCCCC;
$neutral-darker: #333333;