// src/styles/main.scss

@use 'colors';
@use 'fields';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: colors.$secondary-light;
  color: colors.$neutral-darker;
  font-size: 20px;
  margin: 0;
  padding: 0;

  .container {
    margin: 0 auto;
    max-width: 800px;
  }

  .section {
    background-color: colors.$neutral;
    border-radius: 1rem;
    padding: 1rem;
  }
}